.submit-area{
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    padding: 30px;
}
#transition-area{
    display: none;
}
.deposit{
    background-color: slateblue;
    padding: 20px;
    border-radius: 10px;
    
}

.withdraw{
    background-color: lightsalmon;
    padding: 20px;
    border-radius: 10px;
}
.balance{
    padding: 20px;
    background-color: orange;
    border-radius: 10px;
}
#transition-area,h5{
    font-size: 45px;
}
